# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# env files
.env
settings.local.json
keycloak/realm/realm-export.json
keycloak/themes/my-healthcare-theme/login/resources/js/config.development.js
keycloak/themes/my-healthcare-theme/login/resources/js/config.js
keycloak/themes/my-healthcare-theme/login/resources/js/config.production.js
keycloak/themes/my-healthcare-theme/login/resources/js/config.staging.js
nul
package.json
package-lock.json
package-lock.json
package-lock.json
package.json
